::selection {
	background-color: rgba(88, 88, 88, 1);
	color: rgba(255, 123, 123, 1);
	text-shadow: none;
}

::-moz-selection {
	background-color: rgba(88, 88, 88, 1);
	color: rgba(255, 123, 123, 1);
	text-shadow: none;
}

.jumbotron {
	background-color: transparent!important;
}

a.active {
	color: #ff9000;
}

nav {
	padding-top: 1em;
}

.top {
	margin: 4.3em 0 0 0;
}
