::selection {
	background-color: rgba(88, 88, 88, 1);
	color: rgba(255, 144, 0, 1);
	text-shadow: none;
}

::-moz-selection {
	background-color: rgba(88, 88, 88, 1);
	color: rgba(255, 144, 0, 1);
	text-shadow: none;
}

body {
	font-size: 1.8rem;
	line-height: 1.728;
	color: #555;
}

.jumbotron {
	background-color: transparent;
}

a.active {
	color: #ff9000;
}

nav {
	padding-top: 1em;
}

.top {
	margin: 4.3em 0 0 0;
}
